<!DOCTYPE html>

<html ng-app="cookingModule">
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Las Delicias</title>
  
  <!-- Icon for Apple devices -->
  <link rel="apple-touch-icon" href="/favicon.png"/>
    
</head>

<body>   

  <div>    
    <ul>
      <li><a href="/#/recipe">Home</a></li>
      <li><a href="/#/recipe">Recipes</a></li>
      <li><a href="/#/recipe/favorites">Favorites</a></li>
      <li><a href="/#/recipe/shopping">Shopping</a></li>
      <li><a href="/#/search">Search</a></li>             
    </ul>                     
  </div>

  <div ng-view>(content goes here)</div>

  <p>&copy; 2012-<%= (new Date()).getFullYear() %> H&K, all rights reserved.</p>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="/js/controllers.js"></script>

</body>
</html>