        <!-- body will be inserted above this line -->
      </section>
      
      <section id="sidebar" role="complementary">
        <nav id="sideMenu" role="navigation">
          <ul id="sideMainNav" class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/recipe/favorites">Favorites</a></li>
            <li><a href="/recipe/shopping">Shopping</a></li>
            <li><a href="/search">Search</a></li>             
          </ul>                     
        </nav>
      </section>
    </div>
      
    <footer class="site-footer row" role="contentinfo">
      <div class="twelve columns">
        &copy; 2012-<%= (new Date()).getFullYear() %> H&K, all rights reserved. <a href="/credits">Credits</a>
      </div>  
    </footer>   
  </div>
  
  
  <script src="/js/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <!-- The following files are combined and minified 
  into a single file called all.min.js via grunt
  <script src="/js/jquery.reveal.js"></script>
  <script src="/js/jquery.orbit-1.4.0.js"></script>
  <script src="/js/jquery.customforms.js"></script>
  <script src="/js/jquery.placeholder.min.js"></script>
  <script src="/js/jquery.tooltips.js"></script>
  <script src="/js/app.js"></script>
  <script type="text/javascript" src="/js/jquery.offcanvas.js"></script>
   End Combine and Compress These JS Files -->

  <script src="/js/all.min.js"></script>

</body>
</html>