<!DOCTYPE html>

<html>
  <head>
    <title>Las Delicias</title>
  </head>

  <body>
  <h1>We've moved...</h1>
  <p></p>
  <p>Please update your bookmarks to point to this new link:
  <a href="http://lasdelicias.hectorcorrea.com">http://lasdelicias.hectorcorrea.com</a>
  </p>
  </body>
</html>




