<% include layoutTop %>

<script src="/js/controllers.js"></script>

<div class="row">

  <div class="twelve columns">
    <form name="input", action="/recipe/new", method="post">
      <h3>All Recipes
        <input type="submit" class="button" name = "save" value="New" />
      </h3>
    </form>

  </div>

</div>

<div class="row" ng-controller="RecipeController">
  {{xxx}}
  <p ng-repeat="recipe in recipes">
    <a href="{{recipe.link}}">{{recipe.name}}</a>

    
  </p>
  <div class="eight columns">
  </div>
</div>

<div ng-view></div>

<% include layoutBottom %>
