<% include layoutTop %>

<div class="row">
  <div class="twelve columns">
    <h1><%= recipe.name %></h1>
    <h2>Ingredients</h2>
    <p><%- recipe.ingredients %></p>
    <h2>Directions</h2>
    <p><%- recipe.directions %></p>
  </div>

  <div class="four columns">
    <form name="input", action="<%= recipe.linkEdit %>", method="get">
      <input type="submit" class="button" name = "edit" value="Edit" />
    </form>
  </div>

  <div class="four columns">
  </div>

  <div class="four columns">
  </div>
</div>

<% include layoutBottom %>


