<% include layoutTop %>

<div class="row">

  <div class="eight columns">
    <% if(!title) {
      var title = "All Recipes"; 
    } %>
    <h3><%= title %></h3>
  </div>
</div>

<% for(r = 0; r < recipes.length; r++) { %>
  
  <% var recipe = recipes[r] %>

  <div class="row">
    <div class="four columns">
      <p>
        <% if(recipe.isStarred) { %> 
          <span>(*)</span> 
        <% } else { %>
          <span>(o)</span>
        <% } %> 
        <a href="<%= recipe.link %>"><%= recipe.name %></a>
      </p>
    </div>
  </div>

<% } %>

<div class="row">
  <div class="eight columns">
    <form name="input", action="/recipe/new", method="post">
      <input type="submit" class="button" name = "save" value="New Recipe" />
    </form>
    </p>
  </div>
</div>

<% include layoutBottom %>
