<h3>What's for dinner?</h3>
<form class="form-horizontal" role="form"
  ng-controller="RecipeSearchController">

  <div class="input-group">
    <input type="text" placeholder="enter something" 
    class="form-control" ng-model="searchText">
    
    <span class="input-group-btn">
      <button ng-click="search()" class="btn btn-success">Search</button>
    </span>
  </div>

  <div> 
    <p ng-repeat="recipe in recipes">
      <a ng-href="#/recipes/{{recipe.url}}/{{recipe.key}}">{{recipe.name}}</a>
    </p>
  </div> 

  <p ng-bind="message"></p>

</form>

