<style>
.hidden { display: none;}
.shown { display: inline;}
</style>

<div ng-controller="RecipeDetailController">
  <h1>{{recipe.name}}</h1>

  <div>
    <a id="star" 
      href="" 
      ng-class="{true: 'shown', false: 'hidden'}[recipe.isStarred]"
      ng-click="unstar();">(*)</a>
    <a id="unstar" 
      href="" 
      ng-class="{true: 'hidden', false: 'shown'}[recipe.isStarred]"
      ng-click="star();">(0)</a>
    <a id="shop" 
      href="" 
      ng-class="{true: 'shown', false: 'hidden'}[recipe.isShoppingList]"
      ng-click="noshop();">($)</a>
    <a id="noshop" 
      href="" 
      ng-class="{true: 'hidden', false: 'shown'}[recipe.isShoppingList]"
      ng-click="shop();">(-)</a>
  <div>

  <h2>Ingredients</h2>
  <p><span ng-bind-html-unsafe="recipe.ingredients"></span></p>
  
  <h2>Directions</h2>
  <p><span ng-bind-html-unsafe="recipe.directions"></span></p>
  
  <h2 ng-show="!!recipe.notes">Notes</h2>
  <p><span ng-show="!!recipe.notes" ng-bind-html-unsafe="recipe.notes"></span></p>

  <button ng-click="edit()">Edit</button>

</div>
