<form ng-controller="RecipeEditController" class="form-horizontal" role="form">

  <div class="form-group">
    <label for="nameTextt">Name</label>
    <input ng-model="recipe.name" type="text" id="nameText" class="form-control" placeholder="Recipe name">
  </div>

  <div class="form-group">
    <label for="ingText">Ingredients</label> 
    <textarea ng-model="recipe.ingredients" id="ingText" class="form-control" rows="10" placeholder="Enter ingredients here"></textarea>
  </div>

  <div class="form-group">
    <label for="dirText">Directions</label> 
    <p><textarea ng-model="recipe.directions" id="dirText" class="form-control" rows="10" placeholder="Enter directions here"></textarea>
  </div>

  <div class="form-group">
    <label for="noteText">Notes</label> 
    <p><textarea ng-model="recipe.notes" id="noteText" class="form-control" rows="10" placeholder="Enter notes here"></textarea>
  </div>

  <div class="form-group">
      <button ng-click="submit()" type="button" class="btn btn-primary">Save</button>
  </div>

  <p ng-bind="errorMsg"></p>
  <p>ID: {{recipe.key}}<p/>

</form>