<form ng-controller="RecipeEditController">
<fieldset>
  <p>
  <label>Name</label> 
  <input type="text" ng-model="recipe.name" placeholder="Recipe name" />
  </p>

  <p>
  <label>Ingredients<label> 
  <textarea ng-model="recipe.ingredients", rows="10", cols="60" placeholder="Enter ingredients here"></textarea>
  </p>

  <p>
  <label>Directions<label> 
  <textarea ng-model="recipe.directions", rows="10", cols="60" 
  placeholder="Enter directions here"></textarea>
  </p>

  <p>
  <label>Notes<label> 
  <textarea ng-model="recipe.notes", rows="10", cols="60" 
  placeholder="Enter notes here"></textarea>
  </p>

  <p>
  <button ng-click="submit()">Save</button>
  </p>
  <p ng-bind="errorMsg"></p>

  <p>ID: {{recipe.key}}<p/>

</fieldset>
</form>